$grey: #90909A;
$light-grey:#F4F4F5;
$dark-grey:#DCDCDC;
$white:#FFF;
$black:#000;
$light-black:#29282D;
$brown:#B5A08D;
$dark:#333;


$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1024px;

$Roboto:"Roboto", sans-serif;
$Montserrat:"Montserrat", sans-serif;