<section class="table__result">
<table class="table">
    <thead>
        <tr>
            <th class="table__number">Номер платежа</th>
            <th class="table__date">Дата платежа</th>
            <th class="table__balance">Остаток долга</th>
            <th class="table__debt">В погашение долга</th>
            <th class="table__percent">В погашение процентов</th>
            <th class="table__pay">Платёж</th>
        </tr>
    </thead>
    <tbody id="table__payment">
        <!-- Здесь будут добавляться строки с данными -->
    </tbody>
    <tfoot id="table__foot">
        <tr>
            <th colspan="3">Всего</th>
            <th ></th>
            <th ></th>
            <th ></th>
        </tr>
    </tfoot>
</table>
</section>