.buttons {
    display: flex;
    padding: 30px;
    align-items: center;
}
.button__application {
    width: 235px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid $brown;
    background: $brown;
    color: $white;
    text-align: center;
    font-family: $Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 20px;
    margin-right: 20px;
}
.button__application:hover {
    opacity: 0.7;
}
.button__send {
    color: $brown;
    text-align: center;
    font-family: $Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline !important;
}
.button__send:hover {
    opacity: 0.7;
}