.calculator {
    padding: 30px;
}
.calculator__wrapper {
    @media (min-width: $desktop-width) {
    margin-left: 186px;
    }
}
.title {
    color: $black;
    font-family: $Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
    font-size: 24px;
    @media (min-width: $tablet-width) {
        font-size: 30px;
    }
    @media (min-width: $desktop-width) {
        margin-left: 186px;
        font-size: 42px;
        margin-bottom: 15px;
    }
}
.calculator__title {
    color: $black;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {
        font-size: 18px;
        margin-bottom: 30px;
    }
    @media (min-width: $desktop-width) {
        margin-bottom: 40px;
        font-size: 24px;
    }
}
.calculator__container {
    background-color: $light-grey;
    border-radius: 4px;
    border: 1px solid $grey;
    padding: 20px 10px;
    width: 100%;
    @media (min-width: $tablet-width) {
        justify-content: space-between;
        display: flex;
        max-width: 749px;
        padding: 20px 20px 20px 34px;
    }
    @media (min-width: $desktop-width) {
        width: 749px;
        padding: 30px 6px 30px 54px;
    }
}
.calculator__form {
    width: 100%;
    margin-bottom: 50px;
    @media (min-width: $tablet-width) {
        max-width: 350px;
        margin: 0;
        padding-right: 30px;
        border-right: 1px solid $dark-grey;
    }
}
.calculator__form-item {
    display: flex;
    flex-direction: column;
    position: relative;
    position: relative;
    width: 100%;
    @media (min-width: $tablet-width) {
        max-width: 320px;
    }
}
.calculator__form-item:nth-child(1) .calculator__form-slider {
    -webkit-appearance: none;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 98%;
}
.calculator__form-slider {
    -webkit-appearance: none;
    position: absolute;
    bottom: 24px;
    left: 5px;
    width: 98%;
}
#progress-bar-1 {
    width: 3%;
    height: 1px;
    bottom: 10px;
    left: 5px;
    border-radius: 5px;
    background: $brown;
    outline: none;
    position: absolute;
  }
#progress-bar-2{
      width: 1%;
      height: 1px;
      bottom: 30px;
      left: 5px;
      border-radius: 5px;
      background: $brown;
      outline: none;
      position: absolute;
}
#progress-bar-3{
    width: 66%;
    height: 1px;
    bottom: 30px;
    left: 5px;
    border-radius: 5px;
    background: $brown;
    outline: none;
    position: absolute;
}
#progress-bar-4{
    width: 36%;
    height: 1px;
    bottom: 30px;
    left: 5px;
    border-radius: 5px;
    background: $brown;
    outline: none;
    position: absolute;
} 
input[type=range]::-webkit-slider-thumb {
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    background-color: $brown;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 100%;
    z-index: 2;
}
.calculator__form-item:not(:last-child) {
    margin-bottom: 25px;
}
.calculator__form-label {
    color: $dark;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    font-size: 14px;
    @media (min-width: $desktop-width) {
    }
}
.calculator__form-input {
    background-color: $white;
    padding: 0px 12px;
    border: 1px solid $dark-grey;
    border-radius: 6px;
    margin-bottom: 10px;
    color: $dark;
    font-family: $Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 35px;
    @media (min-width: $tablet-width) {
        max-width: 320px;
    }
}
.calculator__form-item:nth-child(1):after {
    position: absolute;
    content: "₽";
    bottom: 18.5px;
    right: 12px;
    color: $black;
    text-align: right;
    font-family: $Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.calculator__form-item:nth-child(2):after {
    position: absolute;
    content: "₽";
    bottom: 36.5px;
    right: 12px;
    color: $black;
    text-align: right;
    font-family: $Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.calculator__form-item:nth-child(3):after {
    position: absolute;
    content: "Лет";
    bottom: 38.5px;
    right: 12px;
    color: $black;
    text-align: right;
    font-family: $Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.calculator__form-item:nth-child(4):after {
    position: absolute;
    content: "%";
    bottom: 38.5px;
    right: 12px;
    color: $black;
    text-align: right;
    font-family: $Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.calculator__form-input::placeholder {
    color: $dark;
    font-family: $Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.calculator__form-button {
    padding: 2px 6px;
    justify-content: center;
    border-radius: 2px;
    background-color: rgba(144, 144, 154, 0.20);
    color: $dark;
    text-align: center;
    font-family: $Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.calculator__form-button:hover {
    opacity: 0.7;
}
.calculator__result-month {
    color: $light-black;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
    font-size: 26px;
    @media (min-width: $desktop-width) {
    }
}
.calculator__result-text {
    color: $black;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    font-size: 12px;
    width: 130px;
    @media (min-width: $desktop-width) {
    }
}
.calculator__result {
    @media (min-width: $tablet-width) {
        width: 309px;
        margin-left: 30px;
    }
}
.calculator__result-payment {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.calculator__result-download {
    width: 16px;
    height: 16px;
    margin-left: auto;
}
.calculator__result-download:hover {
    opacity: 0.7;
}
.calculator__result-credit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
    max-width: 100%;
    @media (min-width: $tablet-width) {
        width: 309px;
    }
}

.calculator__result-credit::after {
    content: "";
    display: block;
    border-bottom: 1px dotted $grey;
    width: 100%;
    bottom: 3px;
    position: absolute;
}
.calculator__result-value {
    color: $black;
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: $light-grey;
    z-index: 2;
    padding-right: 5px;
    font-size: 16px;
    @media (min-width: $desktop-width) {
    }
}
.calculator__result-weight {
    color: $light-black;
    text-align: right;
    font-family: $Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: $light-grey;
    z-index: 2;
    padding-left: 5px;
}
.calculator__result-button {
    height: 48px;
    color: $brown;
    text-align: center;
    font-family: $Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    border: 2px solid $brown;
    margin-top: 15px;
    width: 100%;
    @media (min-width: $tablet-width) {
        width: 309px;
    }
}
.calculator__result-button:hover {
    opacity: 0.7;
}
